:root {
    --main-color: #D9D9D9;
    --secondary-color: #2D0571;
    --accent-color: #8FA200;
    --secondary-color: #FFCA40;
}

* {
    padding: 0px;
    margin: 0%;
    border: 0px;
}

a {
    text-decoration: none;
}

header {
    background-color: #2D0571; 
    width: 100%; 
    height: 185px;
    display: flex;
    flex-direction:column;
    justify-content: space-between;
    
    font-size: 36px;

}

.uphead {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.logotype {
    width: 25%;
    margin-left: 2%;
}

nav {
    display: flex;  
    flex-direction: row;
    justify-content: space-evenly;
    width: 75%;
    color: white;
}

.downhead {
    display: flex;
    flex-direction:  row;
}


.pos {
    width: 100px;
    height: 50px;
    font-size: 20px;
}

.poi {
    width: 500px;
    height: 50px;
    font-size: 20px;
}

.search {
    margin-left: 2%;
    margin-bottom: 2%;
}


.pokupka {
    display: flex;
    flex-direction: row;
    margin-left: 2%;
    margin-right: 2%;
}

.czena{
    font-size: 40px;
}
.xarakter {
    margin-top: 2%;
}

.niz {
    width:100%;
    height: 250px;
    background-color: var(--accent-color);
    margin-top: 100px;
}

.urinfo {
    display: flex;  
    flex-direction: row;
    justify-content: space-between;
}

.urinfo  a {
    color: black;
}